<div class="flex flex-col flex-auto min-w-0">
	<div class="flex flex-col sm:py-4 sm:px-5 border-b bg-card">
		<div class="flex-1 min-w-0">
			<div class="mt-2">
				<div class="w-full flex justify-between items-center px-3">
					<div>
						<h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
							Parametrización ({{ section.title }}) </h2>
					</div>


					<div class="flex flex-row justify-between">
						<div class="flex flex-col flex-auto w-3/12 mx-2 p-3 bg-card shadow rounded-lg overflow-hidden">
							<div class="flex flex-col items-center">
								<div class="text-4xl font-bold tracking-tight leading-none text-blue-500">{{
									section.data.list.length
									}}</div>
								<div class="text-sm font-medium text-blue-600">Total</div>
							</div>
						</div>

						<div class="flex flex-col flex-auto w-3/12 mx-2 p-3 bg-card shadow rounded-lg overflow-hidden">
							<div class="flex flex-col items-center">
								<div class="text-4xl font-bold tracking-tight leading-none text-green-500">{{
									getLengthStatus('ACTIVO') }}</div>
								<div class="text-sm font-medium text-green-600">Activos</div>
							</div>
						</div>

						<div class="flex flex-col flex-auto w-3/12 mx-2 p-3 bg-card shadow rounded-lg overflow-hidden">
							<div class="flex flex-col items-center">
								<div class="text-4xl font-bold tracking-tight leading-none text-red-500">{{
									getLengthStatus('INACTIVO') }}</div>
								<div class="text-sm font-medium text-red-600">Inactivos</div>
							</div>
						</div>
					</div>

					<div>
						<button type="button" class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4
							focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
							(click)="showSection('add')">Crear</button>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="flex-auto p-5 pt-2">
		<div class="px-2">
			<nav class="flex text-sm font-medium pt-2 pl-3 border-b border-gray-200">
				<a class="-mb-px border-b text-sm border-transparent p-4 cursor-pointer hover:text-red-400 hover:bg-gray-200"
					[ngClass]="{'border-current text-cyan-500': section.section === 'M'}"
					(click)="changeSection({ section: 'M'})">
					Motivos de rechazo
				</a>

				<a class="-mb-px border-b text-sm border-transparent p-4 cursor-pointer hover:text-red-400 hover:bg-gray-200"
					[ngClass]="{'border-current text-cyan-500': section.section === 'U'}"
					(click)="changeSection({ section: 'U'})">
					Unidades de medida
				</a>

				<a class="-mb-px border-b text-sm border-transparent p-4 cursor-pointer hover:text-red-400 hover:bg-gray-200"
					[ngClass]="{'border-current text-cyan-500': section.section === 'O'}"
					(click)="changeSection({ section: 'O'})">
					Tipos de ordenes
				</a>

				<a class="-mb-px border-b text-sm border-transparent p-4 cursor-pointer hover:text-red-400 hover:bg-gray-200"
					[ngClass]="{'border-current text-cyan-500': section.section === 'S'}"
					(click)="changeSection({ section: 'S'})">
					Tipos de servicios
				</a>
			</nav>
		</div>
		<div class="relative shadow-md sm:rounded-lg">
			<div class="pt-2">
				<div class="flex items-center justify-between pb-4 px-4">
					<div class="flex flex-row items-center mx-4">
						<span class="text-sm text-gray-700">
							Mostrando <span class="font-semibold text-gray-900">{{
								contentPagination.pages[contentPagination.current].data.length }}</span> de <span
								class="font-semibold text-gray-900">{{ section.data.list.length
								}}</span> elementos
						</span>
						<div class="inline-flex xs:mt-0">
							<!-- Buttons -->
							<button *ngIf="fnDisabledBtn('previus')" (click)="fnBtnChangePage('previus')"
								class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-gray-800 mx-1 rounded-l hover:bg-gray-900">
								<svg aria-hidden="true" class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd"
										d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
										clip-rule="evenodd"></path>
								</svg>
								Anterior
							</button>
							<ng-container *ngFor="let item of contentPagination.pages">
								<ng-container
									*ngIf="  contentPagination.current - contentPagination.range < item.page && item.page < contentPagination.current + contentPagination.range">
									<ng-container [ngSwitch]="contentPagination.current === item.page">
										<ng-container *ngSwitchCase="false">
											<button
												class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-gray-800 mx-1 hover:bg-gray-900"
												(click)="fnBtnChangePage(item.page)">
												{{ item.page + 1 }}
											</button>
										</ng-container>

										<ng-container *ngSwitchCase="true">
											<button
												class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-red-300 mx-1"
												disabled>
												{{ item.page + 1 }}
											</button>
										</ng-container>
									</ng-container>
								</ng-container>
							</ng-container>
							<button *ngIf="fnDisabledBtn('next')" (click)="fnBtnChangePage('next')" class="inline-flex items-center mx-1 px-4 py-2 text-sm font-medium text-white bg-gray-800
								border-0 border-l border-gray-700 rounded-r hover:bg-gray-900 ">
								Siguiente
								<svg aria-hidden="true" class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd"
										d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
										clip-rule="evenodd"></path>
								</svg>
							</button>
						</div>
					</div>
					<!-- <ng-container *ngIf="list.length">
					</ng-container> -->
					<div class="flex flex-row">
						<ng-container *ngIf="section.data.list.length">
							<button
								class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 text-center inline-flex items-center mx-3"
								type="button" (click)="generateExcel()"><mat-icon class="text-white"
									svgIcon="heroicons_outline:document-download"></mat-icon></button>
						</ng-container>
						<label for="table-search" class="sr-only">Search</label>
						<div class="relative">
							<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
								<svg class="w-5 h-5 text-gray-500" aria-hidden="true"
									fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd"
										d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
										clip-rule="evenodd"></path>
								</svg>
							</div>
							<input type="text" id="table-search"
								class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
								placeholder="Buscar" (keyup)="searchTerm$.next($event.target.value)">
						</div>
					</div>
				</div>
				<ng-container [ngSwitch]="section.section">
					<ng-container *ngSwitchCase="'M'">
						<div class="overflow-auto">
							<table class="w-full text-sm text-left text-gray-500">
								<thead
									class="text-xs text-gray-700 uppercase bg-gray-50">
									<tr>
										<th scope="col" class="p-4">
											<div class="flex items-center">
												<input id="checkbox-all-search" type="checkbox"
													class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
												<label for="checkbox-all-search" class="sr-only">checkbox</label>
											</div>
										</th>
										<th scope="col" class="px-6 py-3 text-center">
											#
										</th>
										<th scope="col" class="px-6 py-3 text-center">
											Nombre
										</th>
										<th scope="col" class="px-6 py-3 text-center">
											Estado
										</th>
										<th scope="col" class="px-6 py-3 text-center"></th>
									</tr>
								</thead>
								<tbody>
									<ng-container *ngIf="section.data.list.length; else noContent">
										<ng-container
											*ngFor="let item of contentPagination.pages[contentPagination.current].data;">
											<tr
												class="bg-white border-b hover:bg-gray-50">
												<td class="w-4 p-4">
													<div class="flex items-center">
														<input id="checkbox-table-search-1" type="checkbox"
															class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
														<label for="checkbox-table-search-1"
															class="sr-only">checkbox</label>
													</div>
												</td>
												<td class="px-6 py-4 text-center">
													{{ item.idmotivorechazo }}
												</td>
												<td scope="row"
													class="px-6 py-4 text-left font-medium text-gray-900 whitespace-nowrap">
													{{ item.nombre }}
												</td>
												<td class="px-6 py-4 text-center">
													{{ item.estado }}
												</td>
												<td class="px-6 py-4 text-center">
													<a (click)="reasonChangeStatus(item, item.estado === 'ACTIVO' ? 'I' : 'A')"
														class="font-medium hover:underline cursor-pointer mx-3"
														[ngClass]="{'text-green-700': item.estado === 'INACTIVO', 'text-red-700': item.estado === 'ACTIVO'}">
														{{ item.estado === 'ACTIVO' ? 'INACTIVAR' : 'ACTIVAR' }}
													</a>
													<a (click)="showSection('edit', item)"
														class="font-medium text-blue-600 hover:underline cursor-pointer">Editar</a>
												</td>
											</tr>
										</ng-container>
									</ng-container>

									<ng-template #noContent>
										<tr>
											<td colspan="6" class="px-6 py-4 text-center">Sin información</td>
										</tr>
									</ng-template>
								</tbody>
							</table>
						</div>
					</ng-container>
					<ng-container *ngSwitchCase="'U'">
						<div class="overflow-auto">
							<table class="w-full text-sm text-left text-gray-500">
								<thead
									class="text-xs text-gray-700 uppercase bg-gray-50">
									<tr>
										<th scope="col" class="p-4">
											<div class="flex items-center">
												<input id="checkbox-all-search" type="checkbox"
													class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
												<label for="checkbox-all-search" class="sr-only">checkbox</label>
											</div>
										</th>
										<th scope="col" class="px-6 py-3 text-center">
											#
										</th>
										<th scope="col" class="px-6 py-3 text-center">
											Nombre
										</th>
										<th scope="col" class="px-6 py-3 text-center">
											Estado
										</th>
										<th scope="col" class="px-6 py-3 text-center"></th>
									</tr>
								</thead>
								<tbody>
									<ng-container *ngIf="section.data.list.length; else noContent">
										<ng-container
											*ngFor="let item of contentPagination.pages[contentPagination.current].data;">
											<tr
												class="bg-white border-b hover:bg-gray-50">
												<td class="w-4 p-4">
													<div class="flex items-center">
														<input id="checkbox-table-search-1" type="checkbox"
															class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
														<label for="checkbox-table-search-1"
															class="sr-only">checkbox</label>
													</div>
												</td>
												<td class="px-6 py-4 text-center">
													{{ item.idunidad_medida }}
												</td>
												<td scope="row"
													class="px-6 py-4 text-left font-medium text-gray-900 whitespace-nowrap">
													({{ item.prefijo }}) {{ item.nombre }}
												</td>
												<td class="px-6 py-4 text-center">
													{{ item.estado }}
												</td>
												<td class="px-6 py-4 text-center">
													<a (click)="measurementUnitsChangeStatus(item, item.estado === 'ACTIVO' ? 'I' : 'A')"
														class="font-medium hover:underline cursor-pointer mx-3"
														[ngClass]="{'text-green-700': item.estado === 'INACTIVO', 'text-red-700': item.estado === 'ACTIVO'}">
														{{ item.estado === 'ACTIVO' ? 'INACTIVAR' : 'ACTIVAR' }}
													</a>
													<a (click)="showSection('edit', item)"
														class="font-medium text-blue-600 hover:underline cursor-pointer">Editar</a>
												</td>
											</tr>
										</ng-container>
									</ng-container>

									<ng-template #noContent>
										<tr>
											<td colspan="6" class="px-6 py-4 text-center">Sin información</td>
										</tr>
									</ng-template>
								</tbody>
							</table>
						</div>
					</ng-container>
					<ng-container *ngSwitchCase="'O'">
						<div class="overflow-auto">
							<table class="w-full text-sm text-left text-gray-500">
								<thead
									class="text-xs text-gray-700 uppercase bg-gray-50">
									<tr>
										<th scope="col" class="p-4">
											<div class="flex items-center">
												<input id="checkbox-all-search" type="checkbox"
													class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
												<label for="checkbox-all-search" class="sr-only">checkbox</label>
											</div>
										</th>
										<th scope="col" class="px-6 py-3 text-center">
											#
										</th>
										<th scope="col" class="px-6 py-3 text-center">
											Nombre
										</th>
										<th scope="col" class="px-6 py-3 text-center">
											Estado
										</th>
										<th scope="col" class="px-6 py-3 text-center"></th>
									</tr>
								</thead>
								<tbody>
									<ng-container *ngIf="section.data.list.length; else noContent">
										<ng-container
											*ngFor="let item of contentPagination.pages[contentPagination.current].data;">
											<tr
												class="bg-white border-b hover:bg-gray-50">
												<td class="w-4 p-4">
													<div class="flex items-center">
														<input id="checkbox-table-search-1" type="checkbox"
															class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
														<label for="checkbox-table-search-1"
															class="sr-only">checkbox</label>
													</div>
												</td>
												<td class="px-6 py-4 text-center">
													{{ item.idtipoorden }}
												</td>
												<td scope="row"
													class="px-6 py-4 text-left font-medium text-gray-900 whitespace-nowrap">
													{{ item.nombre }}
												</td>
												<td class="px-6 py-4 text-center">
													{{ item.estado }}
												</td>
												<td class="px-6 py-4 text-center">
													<a (click)="typeOrderChangeStatus(item, item.estado === 'ACTIVO' ? 'I' : 'A')"
														class="font-medium hover:underline cursor-pointer mx-3"
														[ngClass]="{'text-green-700': item.estado === 'INACTIVO', 'text-red-700': item.estado === 'ACTIVO'}">
														{{ item.estado === 'ACTIVO' ? 'INACTIVAR' : 'ACTIVAR' }}
													</a>
													<a (click)="showSection('edit', item)"
														class="font-medium text-blue-600 hover:underline cursor-pointer">Editar</a>
												</td>
											</tr>
										</ng-container>
									</ng-container>

									<ng-template #noContent>
										<tr>
											<td colspan="6" class="px-6 py-4 text-center">Sin información</td>
										</tr>
									</ng-template>
								</tbody>
							</table>
						</div>
					</ng-container>
					<ng-container *ngSwitchCase="'S'">
						<div class="overflow-auto">
							<table class="w-full text-sm text-left text-gray-500">
								<thead
									class="text-xs text-gray-700 uppercase bg-gray-50">
									<tr>
										<th scope="col" class="p-4">
											<div class="flex items-center">
												<input id="checkbox-all-search" type="checkbox"
													class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
												<label for="checkbox-all-search" class="sr-only">checkbox</label>
											</div>
										</th>
										<th scope="col" class="px-6 py-3 text-center">
											#
										</th>
										<th scope="col" class="px-6 py-3 text-center">
											Código
										</th>
										<th scope="col" class="px-6 py-3 text-center">
											Nombre
										</th>
										<th scope="col" class="px-6 py-3 text-center">
											Estado
										</th>
										<th scope="col" class="px-6 py-3 text-center"></th>
									</tr>
								</thead>
								<tbody>
									<ng-container *ngIf="section.data.list.length; else noContent">
										<ng-container
											*ngFor="let item of contentPagination.pages[contentPagination.current].data;">
											<tr
												class="bg-white border-b hover:bg-gray-50">
												<td class="w-4 p-4">
													<div class="flex items-center">
														<input id="checkbox-table-search-1" type="checkbox"
															class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
														<label for="checkbox-table-search-1"
															class="sr-only">checkbox</label>
													</div>
												</td>
												<td class="px-6 py-4 text-center">
													{{ item.idtiposervicio }}
												</td>
												<td class="px-6 py-4 text-center">
													{{ item.codigo }}
												</td>
												<td scope="row"
													class="px-6 py-4 text-left font-medium text-gray-900 whitespace-nowrap">
													{{ item.nombre }}
												</td>
												<td class="px-6 py-4 text-center">
													{{ item.estado }}
												</td>
												<td class="px-6 py-4 text-center">
													<a (click)="typeServicesChangeStatus(item, item.estado === 'ACTIVO' ? 'I' : 'A')"
														class="font-medium hover:underline cursor-pointer mx-3"
														[ngClass]="{'text-green-700': item.estado === 'INACTIVO', 'text-red-700': item.estado === 'ACTIVO'}">
														{{ item.estado === 'ACTIVO' ? 'INACTIVAR' : 'ACTIVAR' }}
													</a>
													<a (click)="showSection('edit', item)"
														class="font-medium text-blue-600 hover:underline cursor-pointer">Editar</a>
												</td>
											</tr>
										</ng-container>
									</ng-container>

									<ng-template #noContent>
										<tr>
											<td colspan="6" class="px-6 py-4 text-center">Sin información</td>
										</tr>
									</ng-template>
								</tbody>
							</table>
						</div>
					</ng-container>
				</ng-container>
			</div>
		</div>
	</div>
</div>


<ng-container *ngIf="sectionModal">
	<div class="flex flex-col flex-auto bg-card shadow-lg min-w-0 p-4">

		<div class="w-full flex justify-between">
			<ng-container [ngSwitch]="sectionModal">
				<ng-container *ngSwitchCase="'add'">
					<span class="text-2xl font-bold tracking-tight leading-7 sm:leading-10 truncate">
						Crear: {{ section.title }} </span>
				</ng-container>
				<ng-container *ngSwitchCase="'edit'">
					<span class="text-2xl font-bold tracking-tight leading-7 sm:leading-10 truncate">
						Editar: {{ section.title }} </span>
				</ng-container>
			</ng-container>
			<button type="button"
				class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
				(click)="sectionModal = null">Cerrar</button>
		</div>

		<form class="mt-8">

			<ng-container [ngSwitch]="section.section">
				<ng-container *ngSwitchCase="'M'">
					<mat-form-field class="fuse-mat-dense flex-auto w-full">
						<mat-label class="text-lg font-medium mb-1">Nombre</mat-label>
						<input id="name" matInput placeholder="Nombre" name="name"
							[(ngModel)]="section.data.data.nombre">
					</mat-form-field>
				</ng-container>
				<ng-container *ngSwitchCase="'U'">
					<div class="flex justify-between">
						<mat-form-field class="fuse-mat-dense flex-auto mr-1 w-full">
							<mat-label class="text-lg font-medium mb-1">Prefijo</mat-label>
							<input id="prefijo" matInput placeholder="Prefijo" name="prefijo"
								[(ngModel)]="section.data.data.prefijo">
						</mat-form-field>

						<mat-form-field class="fuse-mat-dense flex-auto w-full">
							<mat-label class="text-lg font-medium mb-1">Nombre</mat-label>
							<input id="name" matInput placeholder="Nombre" name="name"
								[(ngModel)]="section.data.data.nombre">
						</mat-form-field>
					</div>
				</ng-container>
				<ng-container *ngSwitchCase="'O'">
					<mat-form-field class="fuse-mat-dense flex-auto mr-1 w-full">
						<mat-label class="text-lg font-medium mb-1">Nombre</mat-label>
						<input id="name" matInput placeholder="Nombre" name="name"
							[(ngModel)]="section.data.data.nombre">
					</mat-form-field>
				</ng-container>
				<ng-container *ngSwitchCase="'S'">
					<div class="flex justify-between">
						<mat-form-field class="fuse-mat-dense flex-auto mr-1 w-full">
							<mat-label class="text-lg font-medium mb-1">Codigo</mat-label>
							<input id="prefijo" matInput placeholder="Codigo" name="codigo"
								[(ngModel)]="section.data.data.codigo">
						</mat-form-field>

						<mat-form-field class="fuse-mat-dense flex-auto w-full">
							<mat-label class="text-lg font-medium mb-1">Nombre</mat-label>
							<input id="name" matInput placeholder="Nombre" name="name"
								[(ngModel)]="section.data.data.nombre">
						</mat-form-field>
					</div>
				</ng-container>
			</ng-container>

			<div class="w-full flex justify-between">
				<button type="button"
					class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
					(click)="sectionModal = null">Cancelar</button>
				<ng-container [ngSwitch]="sectionModal">
					<ng-container *ngSwitchCase="'add'">
						<button type="button"
							class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
							(click)="create()">Guardar</button>
					</ng-container>
					<ng-container *ngSwitchCase="'edit'">
						<button type="button"
							class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
							(click)="update()">Editar</button>
					</ng-container>
				</ng-container>
			</div>
		</form>
	</div>
</ng-container>
