
<div class="w-100 p-6 bg-white border border-gray-200 rounded-lg shadow">
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Home</h5>
    </a>
    <div id="chart">
		<!-- <apx-chart
		  [series]="chartOptions.series"
		  [chart]="chartOptions.chart"
		  [dataLabels]="chartOptions.dataLabels"
		  [plotOptions]="chartOptions.plotOptions"
		  [yaxis]="chartOptions.yaxis"
		  [xaxis]="chartOptions.xaxis"
		  [fill]="chartOptions.fill"
		  [title]="chartOptions.title"
		></apx-chart> -->

		<apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [yaxis]="chartOptions.yaxis"
    [xaxis]="chartOptions.xaxis"
    [stroke]="chartOptions.stroke"
    [grid]="chartOptions.grid"
    [fill]="chartOptions.fill"
    [annotations]="chartOptions.annotations"
  ></apx-chart>
	  </div>
</div>
