<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
	<div
		class="md:flex md:items-center md:justify-start w-full sm:w-auto md:h-full md:w-1/3 py-8 px-4 sm:p-12 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
		<div class="w-full max-w-full sm:w-full mx-auto sm:mx-0">
			<!-- Logo -->
			<div class="w-72 flex items-center">
				<img src="assets/images/logo/logo_l_negro.png" class="mr-3">
			</div>
			<span class="text-4xl font-extrabold tracking-tight leading-tight">
				Registro
			</span>

			<form class="mt-4">

				<div class="flex flex-col gt-xs:flex-row gt-xs:items-start">
					<div class="gt-xs:max-w-64 gt-xs:pr-12">
						<p class="text-lg font-medium mb-1">Datos básicos</p>
					</div>
					<div class="flex flex-auto">
						<mat-form-field class="fuse-mat-dense flex-auto mr-3">
							<input matInput placeholder="Primer nombre" type="text" [(ngModel)]="data.primer_nombre"
								name="primer_nombre">
						</mat-form-field>
						<mat-form-field class="fuse-mat-dense flex-auto">
							<input matInput placeholder="Segundo nombre" type="text" [(ngModel)]="data.segundo_nombre"
								name="segundo_nombre">
						</mat-form-field>
					</div>
					<div class="flex flex-auto">
						<mat-form-field class="fuse-mat-dense flex-auto mr-3">
							<input matInput placeholder="Primer apellido" type="text" [(ngModel)]="data.primer_apellido"
								name="primer_apellido">
						</mat-form-field>
						<mat-form-field class="fuse-mat-dense flex-auto">
							<input matInput placeholder="Segundo apellido" type="text"
								[(ngModel)]="data.segundo_apellido" name="segundo_apellido">
						</mat-form-field>
					</div>
				</div>

				<div class="flex flex-col gt-xs:flex-row gt-xs:items-start mt-5">
					<div class="flex flex-auto">
						<mat-form-field class="fuse-mat-dense flex-auto mr-3">
							<mat-label class="text-lg font-medium mb-1">Fecha de nacimiento</mat-label>
							<input matInput placeholder="Fecha de Nacimiento" type="date"
								[(ngModel)]="data.fecha_nacimiento" name="fecha_nacimiento">
						</mat-form-field>
						<mat-form-field class="fuse-mat-dense flex-auto">
							<mat-label class="text-lg font-medium mb-1">Genero</mat-label>
							<mat-select [value]="''" [(ngModel)]="data.genero" name="genero">
								<mat-option value="" disabled>Seleccione una opción</mat-option>
								<mat-option [value]="item.codigo"
									*ngFor="let item of listGenres">{{item.nombre}}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>

				<div class="flex flex-col gt-xs:flex-row gt-xs:items-start mt-5">
					<div class="gt-xs:max-w-64 gt-xs:pr-12">
						<p class="text-lg font-medium mb-1">Tipo de documento</p>
					</div>
					<div class="flex flex-auto">
						<mat-form-field class="fuse-mat-dense flex-auto mr-3">
							<mat-select [value]="''" [(ngModel)]="data.tipo_documento" name="tipo_documento">
								<mat-option value="" disabled>Seleccione una opción</mat-option>
								<mat-option [value]="item.codigo"
									*ngFor="let item of listTypesDocuments">{{item.nombre}}</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field class="fuse-mat-dense flex-auto">
							<input matInput placeholder="Número de documento" type="number"
								[(ngModel)]="data.num_documento" name="num_documento">
						</mat-form-field>
					</div>
				</div>

				<div class="flex flex-col gt-xs:flex-row gt-xs:items-start">
					<div class="gt-xs:max-w-64 gt-xs:pr-12">
						<p class="text-lg font-medium mb-1">Datos de contacto</p>
					</div>
					<div class="flex flex-auto">
						<mat-form-field class="fuse-mat-dense flex-auto mr-3">
							<input matInput placeholder="Correo" type="email" [(ngModel)]="data.email" name="email">
						</mat-form-field>
						<mat-form-field class="fuse-mat-dense flex-auto">
							<input matInput placeholder="Teléfono" type="text" [(ngModel)]="data.telefono"
								name="telefono">
						</mat-form-field>
					</div>
				</div>

				<div class="flex flex-col gt-xs:flex-row gt-xs:items-start">
					<div class="gt-xs:max-w-64 gt-xs:pr-12">
						<p class="text-lg font-medium mb-1">Cree su contraseña</p>
					</div>
					<div class="flex flex-auto">
						<mat-form-field class="fuse-mat-dense flex-auto mr-3">
							<input matInput placeholder="Contraseña" type="password" max="15" min="8" [(ngModel)]="data.password"
								name="password">
						</mat-form-field>
						<mat-form-field class="fuse-mat-dense flex-auto">
							<input matInput placeholder="Repetir contraseña" type="password" max="15" min="8"
								[(ngModel)]="data.repeatPassword" name="repeatPassword">
						</mat-form-field>
					</div>
					<div class="grid grid-rows px-2" *ngIf="data.password">
						<span>La contraseña debe contener:</span>
						<ul class="px-3">
							<li [ngClass]="fnLength(data.password) ? 'line-through text-green-700' : 'text-red-700' ">1. Entre 8 y 15 caracteres</li>
							<li [ngClass]="fnOneNumber(data.password) ? 'line-through text-green-700' : 'text-red-700'">2. Debe tener al menos un numero</li>
							<li [ngClass]="fnSpecialCharacter(data.password) ? 'line-through text-green-700' : 'text-red-700' ">3. Al menos 1 caracter especial</li>
						</ul>
					</div>

					<div class="px-2 mt-3" *ngIf="data.repeatPassword && data.password && data.repeatPassword !== data.password">
						<span class="text-red-700">Las contraseñas no son iguales</span>
					</div>
				</div>
				<div class="flex flex-col gt-xs:flex-row gt-xs:items-start">
					<div class="gt-xs:max-w-64 gt-xs:pr-12">
						<p class="text-lg font-medium mb-1">Seleccion un plan</p>
					</div>
					<div class="flex flex-auto">
						<mat-form-field class="fuse-mat-dense flex-auto mr-3">
							<mat-select [value]="''" [(ngModel)]="data.plan_id" name="plan_id">
								<mat-option value="" disabled>Seleccione una opción</mat-option>
								<mat-option *ngFor="let item of listPlan" [value]="item.plan_id">{{item.plan_nombre}}
									({{item.plan_duracion}} días)</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div
		class="relative md:flex flex-col items-start justify-start md:w-2/3 h-full md:p-8 px-4 sm:p-3 lg:px-28 overflow-hidden dark:border-l">
		<!-- Background - @formatter:off -->
		<!-- Rings -->
		<div class="prose prose-sm max-w-3xl">
			<h2 class="mt-20">Información principal</h2>
			<p>
				Por favor llene todos los campos que se piden a continuación, si necesita instrucciones de como
				tomar las medidas pulse en el botón de ayuda de cada uno donde lo requiera.
			</p>
		</div>

		<div class="mt-8 w-3/4">
			<div class="flex flex-col gt-xs:flex-row gt-xs:items-start w-80">
				<div class="flex flex-auto">
					<div class="fuse-mat-dense flex-auto mr-3">
						<mat-form-field class="w-full">
							<input matInput placeholder="Peso (Kg)" type="text" [(ngModel)]="data.peso" name="peso">
							<mat-icon class="icon-size-5 text-secondary"
								[svgIcon]="'heroicons_solid:question-mark-circle'"
								[matTooltip]="'Texto informativo 1'"></mat-icon>
						</mat-form-field>
					</div>
					<div class="fuse-mat-dense flex-auto">
						<mat-form-field class="w-full">
							<input matInput placeholder="Estatura (cm)" type="number" [(ngModel)]="data.estatura"
								name="estatura">
							<mat-icon class="icon-size-5 text-secondary"
								[svgIcon]="'heroicons_solid:question-mark-circle'"
								[matTooltip]="'Texto informativo 2'"></mat-icon>
						</mat-form-field>
					</div>
				</div>
			</div>

			<div class="flex flex-col gt-xs:flex-row gt-xs:items-start w-80">
				<div class="flex flex-auto">
					<div class="fuse-mat-dense flex-auto mr-3">
						<mat-form-field class="w-full">
							<input matInput placeholder="Medida de cintura" type="number"
								[(ngModel)]="data.talla_cintura" name="talla_cintura">
							<mat-icon class="icon-size-5 text-secondary"
								[svgIcon]="'heroicons_solid:question-mark-circle'"
								[matTooltip]="'Texto informativo 3'"></mat-icon>
						</mat-form-field>
					</div>
					<div class="fuse-mat-dense flex-auto">
						<mat-form-field class="w-full">
							<input matInput placeholder="Medida de cadera" type="number" [(ngModel)]="data.talla_cadera"
								name="talla_cadera">
							<mat-icon class="icon-size-5 text-secondary"
								[svgIcon]="'heroicons_solid:question-mark-circle'"
								[matTooltip]="'Texto informativo 4'"></mat-icon>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>
		<div class="f4 w-full h-full flex-row hidden md:flex">
			<div class="basis-1/4 w-full">
				<div class="absolute p-2 pt-0">
					<div
						class="w-60 h-60 bg-indigo-100 mx-auto shadow-2xl relative inset-x-0 mt-5 flex items-center justify-center text-indigo-500">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" viewBox="0 0 20 20"
							fill="currentColor">
							<path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
								clip-rule="evenodd" />
						</svg>
					</div>
				</div>
			</div>
			<div class="basis-1/2 w-full flex flex-col items-end pt-5">
				<div class="mb-3 w-full flex flex-row justify-center">
					<label for="formFile" class="form-label inline-block text-gray-700">Foto frontal</label>
					<input (change)="fnUploadFile($event.target.files, 'foto_frontal')" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0
						focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="file" id="formFile">
				</div>
				<div class="mb-3 w-full flex flex-row justify-center">
					<label for="formFile" class="form-label inline-block text-gray-700">Foto lateral</label>
					<input (change)="fnUploadFile($event.target.files, 'foto_lateral')" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0
						focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="file" id="formFile">
				</div>
				<div class="mb-3 w-full flex flex-row justify-center">
					<label for="formFile" class="form-label inline-block text-gray-700">Foto espalda</label>
					<input (change)="fnUploadFile($event.target.files, 'foto_espalda')" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0
						focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="file" id="formFile">
				</div>
			</div>
		</div>

		<div class="w-full my-4 md:hidden">
			<div class="flex justify-center w-full">
				<div class="mb-3 w-full">
					<label for="phFrontal" class="form-label inline-block mb-2 text-gray-700">Foto
						frontal</label>
					<input (change)="fnUploadFile($event.target.files, 'foto_frontal')" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0
				 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="phFrontal" type="file">
				</div>
			</div>
			<div class="flex justify-center w-full">
				<div class="mb-3 w-full">
					<label for="phLateral" class="form-label inline-block mb-2 text-gray-700">Foto
						lateral</label>
					<input (change)="fnUploadFile($event.target.files, 'foto_lateral')" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0
				 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="phLateral" type="file">
				</div>
			</div>
			<div class="flex justify-center w-full">
				<div class="mb-3 w-full">
					<label for="phEspalda" class="form-label inline-block mb-2 text-gray-700">Foto
						espalda</label>
					<input (change)="fnUploadFile($event.target.files, 'foto_espalda')" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0
				 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="phEspalda" type="file">
				</div>
			</div>
		</div>
		<div class="w-full flex items-center justify-center">
			<fuse-alert class="" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
				[@shake]="alert.type === 'error'">
				{{alert.message}}
			</fuse-alert>
		</div>
		<div class="w-full flex items-center justify-center mt-2">
			<input type="checkbox" id="checkTermsAndConditions" [(ngModel)]="isAcceptTerms"
				class="w-4 h-4 text-blue-600 bg-gray-100 mr-1 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
				required>
			<label [for]="'checkTermsAndConditions'"> Aceptar <a (click)="fnBtnModal()"
					class="text-indigo-400 cursor-pointer">terminos y condiciones</a>.</label>
		</div>
		<div class="w-full mb-4 flex items-center justify-center mt-4">
			<button
				class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-white bg-red-500 hover:bg-red-400 transition ease-in-out duration-150 mr-5"
				[ngClass]="{'cursor-not-allowed': isLoading}" [routerLink]="['/sign-in']">
				Cancelar
			</button>
			<button type="button"
				class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-white bg-indigo-500 hover:bg-indigo-400 transition ease-in-out duration-150"
				[ngClass]="{'cursor-not-allowed': isLoading}" (click)="signUp()">
				<svg *ngIf="isLoading" class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"f
					xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
					<circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
					<path class="opacity-75" fill="currentColor"
						d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
					</path>
				</svg>
				{{ isLoading ? 'Enviando...' : 'Enviar'}}
			</button>
		</div>

	</div>
</div>





<div class="modal relative z-50 hidden" id="modalTermsAndConditions" aria-labelledby="modal-title" role="dialog"
	aria-modal="true">
	<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
	<div class="fixed inset-0 overflow-y-auto">
		<div class="flex min-h-full items-end justify-center p-8 text-center sm:items-center sm:p-0">
			<div
				class="relative transform overflow-hidden rounded-lg bg-white text-left max-w-200 shadow-xl transition-all">
				<div class="bg-white px-8 pt-5 pb-8 sm:p-6 sm:pb-4">
					<div class="sm:flex sm:items-start">
						<div
							class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
							<mat-icon svgIcon="heroicons_outline:question-mark-circle"></mat-icon>
						</div>
						<div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
							<div
								class="xl:col-span-4 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
								<div class="p-6">
									<div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Terminos y
										condiciones</div>
									<br>
									<div class="font-medium tracking-tight text-secondary">
										<div class="my-2">
											<h2 class="font-bold">1. AUTORIZACIÓN PARA EL TRATAMIENTO DE DATOS
												PERSONALES</h2>
											<span>
												JAIMARPHYSIQUE S.A.S con NIT Nro. 901656918, representada
												legalmente por JAIMAR JOSÉ CRUZ REDONDO, identificado
												civilmente Nro. C.C. 1.045.690.957 de Barranquilla – Atlántico, será el
												Responsable del tratamiento y, en tal virtud, podrá recolectar,
												almacenar, usar, distribuir, comparar, hacer historial de imágenes y
												videográficos desde su redes sociales y medios electrónicos para las
												siguientes finalidades: verificar el progreso de cada usuario, cliente o
												paciente, hacer comparativas de su progreso, elaborar material JPG o
												MP4 con fines de publicación, divulgación y visualización del público.
												Manifiesto que me informaron, que, en caso de recolección de mi
												información sensible, tengo derecho a contestar o no las preguntas
												que me formulen y a entregar o no los datos solicitados.
												Entiendo que son datos sensibles aquellos que afectan la intimidad del
												Titular o cuyo uso indebido puede generar discriminación como
												ejemplos, como orientación política, convicciones religiosas o
												filosóficas, datos relativos a la salud, a la vida sexual y los datos
												biométricos.
												Manifiesto que me informaron que los datos sensibles que se
												recolectarán serán utilizados para las siguientes finalidades:
											</span>

											<ul>
												<li>a) Para la ejecución de un contrato de asesoría o direccionamiento
													nutricional y de acondicionamiento físico.</li>
												<li>b) Para la verificación y comparación de resultados de cada usuario,
													cliente
													o paciente.</li>
												<li>c) Para fines publicitarios mediante divulgación por medios
													electrónicos
													en
													modalidad visual o masiva</li>
											</ul>

											<h3>DERECHOS DEL TITULAR</h3>

											<span>
												Sus derechos como titular del dato son los previstos en la Constitución
												y en la Ley 1581 de 2012, especialmente los siguientes:
											</span>

											<ul>
												<li>a) Acceder en forma gratuita a los datos proporcionados que
													hayansido
													objeto de tratamiento.</li>
												<li>b) Solicitar la actualización y rectificación de su información
													frente
													adatos
													parciales, inexactos, incompletos, fraccionados, que induzcan a
													error,
													o a aquellos cuyo tratamiento esté prohibido o no haya sido
													autorizado.</li>
												<li>c) Solicitar prueba de la autorización otorgada.</li>
												<li>d) Presentar ante la Superintendencia de Industria y Comercio (SIC)
													quejas por infracciones a lo dispuesto en la normatividad vigente.
												</li>
												<li>e) Revocar la autorización y/o solicitar la supresión del dato, a
													menosque
													exista un deber legal o contractual que haga imperativo conservar la
													información.</li>
												<li>f) Abstenerse de responder las preguntas sobre datos sensibles
													osobre
													datos de las niñas y niños y adolescentes.</li>
											</ul>

											<span>
												Estos derechos los podré ejercer a través de los canales o medios
												dispuestos por JAIMARPHYSIQUE S.A.S. para la atención al público, la
												línea
												de
												atención 3012859929, el correo electrónico jaimarcruzredondo@outlook.es,
												cuya
												información puedo consultarla en la página web de la empresa
												(https://www.jaimarphysique.com),
												para la atención de requerimientos relacionados con el tratamiento de
												mis
												datos personales y
												el ejercicio de los derechos mencionados en esta autorización.
											</span>
											<span>
												Por todo lo anterior, he otorgado mi consentimiento a JAIMARPHYSIQUE
												S.A.S.
												para que trate mi información personal de acuerdo con la Política de
												Tratamiento de Datos Personales dispuesta por la empresa en medio
												electrónico y que me dio a conocer antes derecolectar mis datos
												personales
											</span>
											<span>
												Manifiesto que la presente autorización me fue solicitada y puesta de
												presente antes de entregar mis datos y que la suscribo de forma libre y
												voluntaria una vez leída en su totalidad.
											</span>
										</div>

										<div class="my-2">
											<h2 class="font-bold">2. POLÍTICA DE TRATAMIENTO DE DATOS PERSONALES</h2>
											<ul>
												<li>
													<span>OBJETIVO:</span>
													<p>El criterio para la recolección, almacenamiento, uso, circulación
														y
														supresión, será con el fin de recolectar, almacenar, usar,
														distribuir,
														comparar, hacer historial de imágenes y videográficos desde su
														redes
														sociales y medios electrónicos para verificar el progreso de
														cada usuario,
														cliente o paciente, hacer comparativas de su progreso, elaborar
														material
														JPG o MP4 con fines de publicación, divulgación y visualización
														del
														público, los datos personales tratados por JAIMARPHYSIQUE S.A.S.
													</p>
												</li>
												<li>
													<span>ALCANCE:</span>
													<p>Esta política aplica para toda la información personal registrada
														en las
														bases de datos de JAIMARPHYSIQUE S.A.S., quien actúa en calidad
														de
														responsable del tratamiento de los datos personales.</p>
												</li>
												<li>
													<span>OBLIGACIONES:</span>
													<p>Esta política es de obligatorio y estricto cumplimiento para
														JAIMARPHYSIQUE S.A.S. y los usuraios que se suscriban, acepten y
														autoricen las póliticas de tratamientos de datos
														RESPONSABLE DEL TRATAMIENTO:
														JAIMARPHYSIQUE S.A.S., sociedad comercial legalmente
														constituida,
														identificada con el NIT Nro. 901656918, con domicilio principal
														en la calle
														49b 53 – 33 de la ciudad de Barranquilla - Atlántico, República
														de
														Colombia. Teléfono 3012859929, en la ciudad de Barranquilla –
														Atlántico.</p>
												</li>
												<li>
													<span>TRATAMIENTO Y FINALIDAD:</span>
													<p>El tratamiento que realizará JAIMARPHYSIQUE S.A.S., con la
														información personal será el siguiente:
														La recolección, almacenamiento, uso, circulación y supresión de
														la
														información y material magnético, será para recolectar,
														almacenar, usar,
														distribuir, comparar, hacer historial de imágenes y
														videográficos desde su
														redes sociales y medios electrónicos para verificar el progreso
														de cada
														usuario, cliente o paciente, hacer comparativas de su progreso,
														elaborar
														material JPG o MP4 con fines de publicación, divulgación y
														visualización
														del público.</p>
												</li>
												<li>
													<span>
														TRATAMIENTO DE DATOS SENSIBLES:
													</span>
													<p>
														Los datos sensibles recolectados serán tratados con las
														siguientes finalidades:
													</p>
													<ul>
														<li>a) Para la ejecución de un contrato de asesoría o
															direccionamiento
															nutricional y de acondicionamiento físico.</li>
														<li>b) Para la verificación y comparación de resultados de cada
															usuario,
															cliente o paciente.</li>
														<li>c) Para fines publicitarios mediante divulgación por medios
															electrónicos
															en modalidad visual o masiva.</li>
													</ul>
												</li>
												<li>
													<span>DERECHOS DE LOS TITULARES:</span>
													<p>Como titular de sus datos personales Usted tiene derecho a:</p>
													<ul>
														<li>1. Acceder de forma gratuita a los datos proporcionados que
															hayan sido
															objeto de tratamiento.</li>
														<li>2. Conocer, actualizar y rectificar su información frente a
															datos parciales,
															inexactos, incompletos, fraccionados, que induzcan a error,
															o aquellos
															cuyo tratamiento esté prohibido o no haya sido autorizado.
														</li>
														<li>3. Solicitar prueba de la autorización otorgada.</li>
														<li>4. Presentar ante la Superintendencia de Industria y
															Comercio (SIC) quejas
															por infracciones a lo dispuesto en la normatividad vigente.
														</li>
														<li>5. Revocar la autorización y/o solicitar la supresión del
															dato, siempre que no
															exista un deber legal o contractual que impida eliminarlos.
														</li>
														<li>6. Abstenerse de responder las preguntas sobre datos
															sensibles. Tendrá
															carácter facultativo las respuestas que versen sobre datos
															sensibles de
															niñas, niños y adolescentes.</li>
													</ul>
												</li>

												<li>
													<span>ATENCIÓN DE PETICIONES, CONSULTAS, QUEJAS Y RECLAMOS:</span>
													<p>
														JAIMARPHYSIQUE S.A.S., atenderá todas las solicitudes desde el
														buzón
														de la página web de la empresa (https://www.jaimarphysique.com),
														o,
														desde el correo jaimarcruzredondo@outlook.es, y, así, dar
														trámite a las
														solicitudes de los titulares para hacer efectivos sus derechos.
														PROCEDIMIENTO PARA EL EJERCICIO DEL DERECHO
														DE HABEAS DATA
														En cumplimiento de las normas sobre protección de datos
														personales,
														JAIMARPHYSIQUE S.A.S., presenta el procedimiento y requisitos
														mínimos para el ejercicio de sus derechos:
														Para la radicación y atención de su solicitud le solicitamos
														suministrar la
														siguiente información:
													</p>
													<ul>
														<li>a) Nombre completo y apellidos.</li>
														<li>b) Datos de contacto (Dirección física y/o electrónica y
															teléfonos de
															contacto).</li>
														<li>c) Medios para recibir respuesta a su solicitud.</li>
														<li>d) Motivo(s)/hecho(s) que dan lugar al reclamo con una breve
															descripción del derecho que desea ejercer (conocer,
															actualizar,
															rectificar, solicitar prueba de la autorización otorgada,
															revocarla,
															suprimir, acceder a la información).</li>
														<li>e) Firma (si aplica) y número de identificación.</li>
													</ul>
													<p>El término máximo previsto por la ley para resolver su
														reclamación es de
														quince (15) días hábiles, contado a partir del día siguiente a
														la fecha de
														su recibo. Cuando no fuere posible atender el reclamo dentro de
														dicho
														término, JAIMARPHYSIQUE S.A.S., les expondrá por escrito o de
														forma
														verbal, los motivos de la demora y la fecha en que se atenderá
														su reclamo,
														la cual, en ningún caso, podrá superar los ocho (8) días hábiles
														siguientes
														al vencimiento del primer término.</p>
													<p>
														Una vez cumplidos los términos señalados por la Ley 1581 de 2012
														y las
														demás normas que la reglamenten o complementen, el Titular al
														que se
														deniegue, total o parcialmente, el ejercicio de los derechos de
														acceso,
														actualización, rectificación, supresión y revocación, podrá
														poner su caso en
														conocimiento de la Superintendencia de Industria y Comercio
														–Delegatura
														para la Protección de Datos Personales-.
													</p>
												</li>
												<li>
													<span>
														VIGENCIA:
													</span>
													<p>
														La presente Política para el Tratamiento de Datos Personales
														rige a partir
														del 11 de febrero del 2023.
													</p>
													<p>Las bases de datos en las que se registrarán los datos personales
														tendrán
														una vigencia igual al tiempo en que se mantenga y utilice la
														información
														para las finalidades descritas en esta política, por la
														existencia de una
														relación contractual con el Titular de la información. Una vez
														se cumpla(n)
														esa(s) finalidad(es) y siempre que no exista un deber legal o
														contractual
														de conservar su información, sus datos serán eliminados de
														nuestras
														bases de datos después de transcurrir 5 años.</p>
												</li>
											</ul>
										</div>

										<div class="my-2">
											<h2 class="font-bold">3. AVISO DEPRIVACIDAD</h2>
											<span>El presente Aviso de Privacidad (en adelante el “Aviso”) establece los
												términos y condiciones en virtud de los cuales JAIMARPHYSIQUE S.A.S.,
												identificado con NIT Nro. 901656918, representada legalmente por Jaimar
												José
												Cruz Redondo, identificado civilmente Nro. C.C. 1.045.690.957 de
												Barranquilla – Atlántico y con domicilio en Barranquilla - Atlántico,
												realizará el
												tratamiento de sus datos personales.</span>

											<ul>
												<li>
													<span>1. TRATAMIENTO Y FINALIDAD:</span>
													<p>El tratamiento que realizará JAIMARPHYSIQUE S.A.S. con la
														información
														personal, será el siguiente:
														La recolección, almacenamiento, uso, circulación y supresión de
														la
														información y material magnético, será para recolectar,
														almacenar, usar,
														distribuir, comparar, hacer historial de imágenes y
														videográficos desde su
														redes sociales y medios electrónicos para verificar el progreso
														de cada usuario,
														cliente o paciente, hacer comparativas de su progreso, elaborar
														material JPG o
														MP4 con fines de publicación, divulgación y visualización del
														público.</p>
												</li>
												<li>
													<span>2. DERECHOS DEL TITULAR:</span>
													<p>Como titular de sus datos personales Usted tiene derecho a:</p>
													<ul>
														<li>a) Acceder en forma gratuita a los datos proporcionados que
															hayansido objeto
															de tratamiento.</li>
														<li>b) Conocer, actualizar y rectificar su información frente a
															datos parciales,
															inexactos, incompletos, fraccionados, que induzcan a error,
															o a aquellos
															cuyo tratamiento esté prohibido o no haya sidoautorizado.
														</li>
														<li>c) Solicitar prueba de la autorización otorgada.</li>
														<li>d) Presentar ante la Superintendencia de Industria y
															Comercio (SIC) quejas
															por infracciones a lo dispuesto en la normatividad vigente.
														</li>
														<li>e) Revocar la autorización y/o solicitar la supresión del
															dato, siempre que no
															exista un deber legal o contractual que impida eliminarlos.
														</li>
														<li>f) Abstenerse de responder las preguntas sobre datos
															sensibles. Tendrá
															carácter facultativo las respuestas que versen sobre datos
															sensibles o
															sobre datos de las niñas y niños y adolescentes.</li>
													</ul>
												</li>
												<li>
													<span>3. MECANISMOS PARA CONOCER LA POLÍTICA DE TRATAMIENTO:</span>
													<p>El Titular puede acceder a nuestra Política de Tratamiento de
														información,
														la cual se encuentra publicada en medio electrónico en nuestra
														página web:
														(https://www.jaimarphysique.com).</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="overflow-x-auto mx-6">

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
					<button type="button"
						class="inline-flex w-full justify-center rounded-md border border-transparent bg-red-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
						(click)="fnBtnModal()">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>
