<div class="flex flex-col flex-auto min-w-0">
	<div class="flex flex-col sm:py-4 sm:px-5 border-b bg-card">
		<div class="flex-1 min-w-0">
			<div class="mt-2">
				<div class="w-full flex justify-between items-center px-3">
					<div>
						<h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
							Servicios asignadas </h2>
						<div class="flex flex-wrap items-center font-medium">
							<div>
								<a class="whitespace-nowrap text-primary-500">Servicios asignados</a>
							</div>
						</div>
					</div>


					<div class="flex flex-row justify-between">
						<div class="flex flex-col flex-auto w-3/12 mx-2 p-3 bg-card shadow rounded-lg overflow-hidden cursor-pointer hover:bg-gray-100" [ngClass]="{'border-2 border-blue-500': options === 'TOTAL'}"
						(click)="options = 'TOTAL'">
							<div class="flex flex-col items-center">
								<div class="text-4xl font-bold tracking-tight leading-none text-blue-500">{{ list.length }}</div>
								<div class="text-sm font-medium text-blue-600">Total</div>
							</div>
						</div>

						<div class="flex flex-col flex-auto w-3/12 mx-2 p-3 bg-card shadow rounded-lg overflow-hidden cursor-pointer hover:bg-gray-100" [ngClass]="{'border-2 border-green-500': options === 'REALIZADA'}"
						(click)="options = 'REALIZADA'">
							<div class="flex flex-col items-center">
								<div class="text-4xl font-bold tracking-tight leading-none text-green-500">
									{{ getLengthStatus('REALIZADA') }}</div>
								<div class="text-sm font-medium text-green-600">Realizadas</div>
							</div>
						</div>

						<div class="flex flex-col flex-auto w-3/12 mx-2 p-3 bg-card shadow rounded-lg overflow-hidden cursor-pointer hover:bg-gray-100" [ngClass]="{'border-2 border-teal-500': options === 'ASIGNADA'}"
						(click)="options = 'ASIGNADA'">
							<div class="flex flex-col items-center">
								<div class="text-4xl font-bold tracking-tight leading-none text-teal-500">
									{{ getLengthStatus('ASIGNADA') }}</div>
								<div class="text-sm font-medium text-teal-600">Asignadas</div>
							</div>
						</div>

						<div class="flex flex-col flex-auto w-3/12 mx-2 p-3 bg-card shadow rounded-lg overflow-hidden cursor-pointer hover:bg-gray-100" [ngClass]="{'border-2 border-orange-500': options === 'POR ASIGNAR'}"
						(click)="options = 'POR ASIGNAR'">
							<div class="flex flex-col items-center">
								<div class="text-4xl font-bold tracking-tight leading-none text-orange-500">
									{{ getLengthStatus('POR ASIGNAR') }}</div>
								<div class="text-sm font-medium text-orange-600">P.Asignar</div>
							</div>
						</div>

						<div class="flex flex-col flex-auto w-3/12 mx-2 p-3 bg-card shadow rounded-lg overflow-hidden cursor-pointer hover:bg-gray-100" [ngClass]="{'border-2 border-red-500': options === 'ANULADA'}"
						(click)="options = 'ANULADA'">
							<div class="flex flex-col items-center">
								<div class="text-4xl font-bold tracking-tight leading-none text-red-500">{{ getLengthStatus('ANULADA') }}</div>
								<div class="text-sm font-medium text-red-600">Anuladas</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-details class="w-full" [idtercero]="idtercero" [viewInfoOrden]="false" (dataList)="loadContent($event)" [option]="options"></app-details>
</div>
