<div class="flex flex-row flex-auto min-w-0">
	<ng-container>
		<div class="flex-auto p-5 w-full">
			<div class="relative shadow-md rounded-lg bg-card px-5 py-7">
				<ng-container [ngSwitch]="support?.tipo">
					<!-- PDF -->
					<ng-container *ngSwitchCase="'PDF'">
						<object
							[data]="support.soporte"
							type="application/pdf"
							class="h-100"
						></object>
					</ng-container>
					<!-- Documentos -->
					<ng-container *ngSwitchCase="'DOC'"></ng-container>
					<ng-container *ngSwitchCase="'XLS'"></ng-container>
					<ng-container *ngSwitchCase="'TXT'"></ng-container>
					<!-- Imagenes -->
					<ng-container *ngSwitchCase="'JPG'">
						<ng-container *ngTemplateOutlet="tImage"></ng-container>
					</ng-container>
					<ng-container *ngSwitchCase="'PNG'">
						<ng-container *ngTemplateOutlet="tImage"></ng-container>
					</ng-container>
					<ng-container *ngSwitchCase="'JPEG'">
						<ng-container *ngTemplateOutlet="tImage"></ng-container>
					</ng-container>
					<!-- Videos -->
					<ng-container *ngSwitchCase="'MP4'">
						<ng-container *ngTemplateOutlet="tVideo"></ng-container>
					</ng-container>
				</ng-container>

				<ng-template #tImage>
					<img [src]="support.soporte" [alt]="support.soporte" />
				</ng-template>

				<ng-template #tVideo>
					<video
						width="600"
						height="350"
						controls
						autoplay
						class="mx-50"
					>
						<source [src]="support?.soporte" type="video/mp4" />
					</video>
				</ng-template>
			</div>
		</div>

		<div class="flex-auto p-5 w-2/5">
			<div class="relative shadow-md rounded-lg bg-card p-5">
				<button
					type="button"
					class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mx-2"
					[routerLink]="['/panel/servicios-asignados']"
				>
					Regresar
				</button>
				<div class="flex justify-between items-center my-4">
					<h2
						class="text-2xl font-extrabold tracking-tight leading-7 truncate"
					>
						Archivo #{{ support?.iddetalleordensoporte }} - ({{
							support?.index
						}})
					</h2>
					<span
						class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full"
						>{{ support?.estado }}</span
					>
				</div>

				<div class="my-4">
					<div>
						<span class="text-1xl whitespace-nowrap text-gray-500">
							Soporte: {{ support?.tiposoporte }}</span
						>
					</div>
				</div>

				<div
					class="my-4"
					[ngClass]="{
						'border-b-2 border-gray-300':
							support?.motivorechazo && support?.idmotivorechazo
					}"
				>
					<div>
						<span class="text-1xl whitespace-nowrap text-gray-500">
							Observación:
							<p>
								{{ support?.observacion || "Sin observación" }}
							</p></span
						>
					</div>
				</div>

				<div
					class="my-4 border-b-2 border-gray-300"
					*ngIf="support?.motivorechazo && support?.idmotivorechazo"
				>
					<div>
						<span class="text-1xl whitespace-nowrap text-gray-500">
							Motivo de rechazo:
							{{ support?.motivorechazo }}</span
						>
					</div>
				</div>
				<div class="flex justify-between mt-4">
					<button
						type="submit"
						class="my-1 mx-2 w-full flex justify-center bg-blue-500 text-gray-100 p-4 rounded-xl tracking-wide font-semibold focus:outline-none focus:shadow-outline hover:bg-blue-600 shadow-lg cursor-pointer transition ease-in duration-300"
						[matTooltip]="'Anterior'"
						(click)="changeFileNextOrPrevius('previus', support)"
					>
						<mat-icon
							svgIcon="heroicons_outline:arrow-left"
							class="text-white"
						></mat-icon>
					</button>
					<button
						type="submit"
						class="my-1 mx-2 w-full flex justify-center bg-blue-500 text-gray-100 p-4 rounded-xl tracking-wide font-semibold focus:outline-none focus:shadow-outline hover:bg-blue-600 shadow-lg cursor-pointer transition ease-in duration-300"
						[matTooltip]="'Siguiente'"
						(click)="changeFileNextOrPrevius('next', support)"
					>
						<mat-icon
							svgIcon="heroicons_outline:arrow-right"
							class="text-white"
						></mat-icon>
					</button>
					<button
						type="submit"
						(click)="download(support?.soporte)"
						class="my-1 mx-2 w-full flex justify-center bg-blue-500 text-gray-100 p-4 rounded-xl tracking-wide font-semibold focus:outline-none focus:shadow-outline hover:bg-blue-600 shadow-lg cursor-pointer transition ease-in duration-300"
						[matTooltip]="'Descargar'"
					>
						<mat-icon
							svgIcon="heroicons_outline:arrow-down"
							class="text-white"
						></mat-icon>
					</button>
				</div>
			</div>
		</div>
	</ng-container>
</div>
